#anima-div{
    background-image: url("../imgs/dinoss-anima.png");
    width: 120px;
    height: 134px;
    animation: anima-sprite 1s steps(6) infinite;
}

@keyframes anima-sprite{
    from{background-position:0px;}
    to{background-position: -800px;}
}

